#splash-container {
  width: 100vw;
  height: 700px;
}

#clip {
  clip-path: polygon(0 0, 100% 0, 100% 48%, 0 100%);
  position: absolute;
  z-index: 1;
  width: 100vw;
  height: 700px;
}

.splash-text {
  z-index: 2 !important;
  position: relative;
  font-family: "Public Sans", sans-serif;
  font-size: 25px;
}
