#splash-container {
  width: 100vw;
  height: 700px;
  display: flex;
  justify-content: center;
}

.clip {
  clip-path: polygon(0 0, 100% 0, 100% 48%, 0 100%);
  position: absolute;
  z-index: 1;
  width: 100vw;
  height: 700px;
}

.clip-two {
  clip-path: polygon(0 70%, 100% 15%, 100% 100%, 0% 100%);
  position: absolute;
  z-index: 1;
  width: 100vw;
  height: 700px;
}

.splash-text {
  z-index: 2;
  position: relative;
  font-family: "Public Sans", sans-serif;
  width: 25vw;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 3%;
}

.splash-picture {
  z-index: 3;
  position: relative;
}

.splash-button {
  border: none;
  padding: 10px;
  border-radius: 50px;
  padding: 10px 20px;
  width: 40%;
  font-family: "Shippori Antique B1", sans-serif;
  font-size: 2rem;
}

h1,
h2 {
  text-shadow: 6px 4px 3px rgba(0, 0, 0, 0.205);
  font-size: 4.2rem;
}

.splash-text p {
  font-size: 2rem;
}
