$grey: grey;
$linkBlue: #1919ff;

.authDiv {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.authContainer {
  font-family: "Public Sans", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 30px;
  outline: 1px solid #dad8d8;
  border-radius: 4px;
  min-width: 426px;
  h3 {
    font-size: 3rem;
    text-align: center;
    cursor: pointer;
    letter-spacing: 1px;
  }
  form {
    display: flex;
    flex-direction: column;
    font-size: 1.8rem;
    display: inherit;
    .rowContainer {
      display: flex;
      input {
        width: 48%;
      }
      justify-content: space-between;
    }
    button {
      margin: 10px 0px;
      border: 0.5px solid #dcdee2;
      border-radius: 3px;
      font-size: 1.4rem;
      padding: 8px;
      width: 40%;
      align-self: center;
    }
    input {
      margin: 10px 0px;
      padding-left: 8px;
      // border: 0.5px solid #dcdee2;
      border: none;
      padding: 3% 0px 3% 10px;
      border-radius: 3px;
      font-size: 1.4rem;
      &::placeholder {
        font-size: 1.4rem;
      }
    }
    .termsAndConditions {
      font-size: 1.2rem;
      color: $grey;
      text-align: center;
      display: inherit;
      justify-content: center;
      align-items: center;
      input {
        margin: 5px;
      }
      span {
        color: $linkBlue;
        margin-left: 2px;
        cursor: pointer;
      }
    }
  }
  p {
    font-size: 1.4rem;
    color: $linkBlue;
    text-align: center;
    cursor: pointer;
    font-weight: 500;
  }
  .infoContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.2rem;
    align-items: center;
    margin-top: 5%;
    color: $grey;
    ul {
      display: inherit;
      list-style: none;
      gap: 16px;
    }
    div {
      cursor: pointer;
    }
  }
}

.subLabel {
  font-size: 1.6rem;
  text-align: center;
}

h3:hover,
.bigP:hover {
  animation: earthquake 1s linear;
  transition: 0.4s ease-in-out;
}

@keyframes earthquake {
  0% {
    transform: rotate(0deg);
    letter-spacing: 1px;
    color: black;
  }
  25% {
    letter-spacing: 2px;
    transform: rotate(0.5deg);
    color: rgb(39, 39, 39);
  }
  50% {
    letter-spacing: 3px;
    transform: rotate(0deg);
    text-shadow: 1px 1px 2px 1px black;
  }
  75% {
    letter-spacing: 2px;
    transform: rotate(-0.5deg);
  }
  90% {
    letter-spacing: 1.5px;
    transform: rotate(-0.25deg);
  }
  100% {
    letter-spacing: 1px;
    transform: rotate(0deg);
  }
}
