.redirectLink {
  color: blue;
}

.authContainer {
  font-family: "Public Sans", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 12px;
  outline: 1px solid grey;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  h3 {
    font-size: 3rem;
    text-align: center;
  }
  form {
    display: flex;
    flex-direction: column;
    font-size: 1.8rem;
    display: inherit;
  }
  p {
    font-size: 1.4rem;
  }
}
